<%- include("partials/header.ejs") %>

<div class="container" id="rankings" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-4 offset-1">Player Name</div>
        <div class="col-4 offset-2">Rank</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Player Name</div>
        <div class="col-4 offset-2">Rank</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Player Name</div>
        <div class="col-4 offset-2">Rank</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Player Name</div>
        <div class="col-4 offset-2">Rank</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Player Name</div>
        <div class="col-4 offset-2">Rank</div>
    </div>


</div>





<%- include("partials/footer.ejs") %>