<%- include("partials/header.ejs") %>

<div class="container" id="Ratingings" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-4 offset-1">Anime Name</div>
        <div class="col-4 offset-2">Rating</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Anime Name</div>
        <div class="col-4 offset-2">Rating</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Anime Name</div>
        <div class="col-4 offset-2">Rating</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Anime Name</div>
        <div class="col-4 offset-2">Rating</div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">Anime Name</div>
        <div class="col-4 offset-2">Rating</div>
    </div>


</div>





<%- include("partials/footer.ejs") %>