body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
#footer{
    margin-top: auto;
}

#header{
    text-align: center;
    font-weight: 700;
}
#header h1{
    padding-top: 2rem;
}
#header h2{
    padding-top: 1rem;
}

#search-options{
    margin-top: 20px;
}

#ratings {
    padding: 0;
    padding-bottom: 10px;
    border:solid #202020;
    border-width: 0px 3px 3px 3px;
    border-radius: 20px 20px 15px 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
#legend {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
}

.row {
    margin: 0px;
    padding: 2px 0px;
    border:solid black;
    border-width: 0px 0px 1px 0px;
    font-size: 18px;
}

.row:first-child {
    border-radius: 15px 15px 0px 0px;
}

.row:last-child {
    border: 0;
}

.link:hover{
    font-weight: 500;
    color: #ec4441 !important;
}


#mainInfo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr 2fr;
    padding: 20px 10px;
}

#genre{
    padding: 10px 0px;
}
#genre h5{
    padding-top: 20px;
}
#description, #anime-detail-header{
    padding-top: 20px;
    padding-left: 40px;
}

#title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#anime-detail-header {
    display: grid;
    grid-template-columns: 1fr 420px;
    grid-template-rows: 1fr 80px;
}

#ratings-info{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.score-item{
    font-size: 1.7rem;
}

#stars{
    font-size: 1.4rem;
}

.select-starts{
    appearance: none;
}

#trailer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

svg.bi-icon-sm {
    height: 8px !important;
    width: 8px !important;
}

svg.bi-icon-xl {
    height: 32px !important;
    width: 32px !important;
    color: #ec4441;
}

/* COLORS */
body{
    background-color: #030005; /* #030005;  #161616*/
    color: #eeccff !important;
}

.row:first-child {
    background-color: #202020;
}
.link {
    color: #eeccff !important;
}
.season{
    color: #ec4441;
}
.text-body-secondary {
    color: #eeccff !important;
}
.nav-link:hover{
    font-weight: bold;
    color: #ec4441 !important;
}
.submit-button {
    background-color: #ec4441;
}
h5, #title h2{
    color: #ec4441;
}


@media only screen and (max-width: 750px) {
    #mainInfo {
        display: flex;
        flex-direction: column;
    }
    #anime-detail-header {
        display: flex;
        flex-direction: column;
    }
    #trailer{
        height: 240px;
    }
    #ratings-info{
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        padding-bottom: 20px;
    }
    #genre, #poster-image, #title{
        padding-left: 40px;
    }
    #stars{
        padding-top: 20px;
    }
    h5, #title h2{
        font-size: 2rem;
    }
}