body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#footer{
    margin-top: auto;
}

#header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#header h1{
    padding-top: 2rem;
}
#header h2{
    padding-top: 1rem;
}


svg.bi-icon-sm {
    height: 8px !important;
    width: 8px !important;
}

svg.bi-icon-xl {
    height: 32px !important;
    width: 32px !important;
}